* {
    margin: 0px;
    padding: 0px;
}
.header {
    height: 80px;
    background-image: url(images/header.jpg);
    background-repeat: no-repeat;
    padding: 10px 0 30px 240px;
}
p {
    margin: 5px;
    text-indent: 20px;
}
.links{
    text-align: right;
    margin-left: 150px;
    margin-right: 220px;    
}
.pogoda {
    width: 150px;
    float: left;
    margin-left: 10px;
}
.photo {
    width: 220px;
    float: right;
}
.content {
    margin-left: 150px;
    margin-right: 225px;
}
.footer {
    background-color: #CCCCCC;
    clear: both;
    text-align: center;
    padding: 5px 0 10px 0;
}